<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">

	<context:component-scan base-package="lecture.c08core"></context:component-scan>
	<!-- 기준점이 되는 패키지로부터 하위 패키지까지 다 스캔한 후 
	     Component어노테이션이 붙은 클래스를 bean으로 만들어줌 -->
</beans>
