<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zerock.mapper.ex03.Ex03Mapper"> 
	<!-- interface이름 : 패키지까지 들어간 fullname을 namespace에 적어야함. -->
  <select id="selectCustomerNameById" resultType="string">
  	<!-- id는 Mapper interface의 메소드명과 같아야 함. -->
  	<!-- resultType은 Mapper interface의 리턴타입과 같아야 함.  -->
    SELECT CustomerName FROM Customers WHERE CustomerID = #{id}
    <!-- #{}은 매개변수명과 같아야함. -->
  </select>
  
  <select id="getEmployeeFirstNameById" resultType="string">
  	SELECT FirstName FROM Employees WHERE EmployeeID = #{id}
  </select> 
  
  <select id="selectBoard" resultType="org.zerock.domain.ex02.BoardDto">
  	SELECT 	b.id, 
  			b.title, 
  			b.inserted, 
  			COUNT(r.id) numOfReply 
  	FROM Board b LEFT JOIN Reply r ON b.id = r.board_id
  	GROUP BY b.id
  	ORDER BY id DESC
  </select>
  
  <select id="selectBoardById" resultType="org.zerock.domain.ex02.BoardDto">
  	SELECT id, title, body, inserted
  	FROM Board
  	WHERE id = #{id}
  </select>
  
  <update id="updateBoard">
  	UPDATE Board
  	SET title = #{title},
  	    body = #{body}
  	WHERE id = #{id}    
  </update>
  
  <delete id="deleteBoard">
  	DELETE FROM Board
  	WHERE id = #{id}
  </delete>
  
  <!-- useGeneratedKeys : 새로 생성되는 값을 키값으로 사용가능하게 하는 옵션 -->
  <!-- keyColumn : DB의 컬럼명 -->
  <!-- keyProperty : Javabeans의 프로퍼티명 -->
  <insert id="insertBoard" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
  	INSERT INTO Board (title, body, inserted)
  	VALUES (#{title}, #{body}, #{inserted})
  </insert>
  
</mapper>